/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 6:33:54 PM
    Author     : Cristoi
*/

body{
    font-family: arial,sans-serif,verdana,tahoma;
    background-color: #e9e9e9;
}

body p{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper{
    width:1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#banner{

     background-repeat: no-repeat;
     background-size:cover;
    
     height:200px;
}
#bannerimg
{
  width:1080px;
  height: 200px;
}

#content_area{
    float:left;
    width: 750px;
    margin:20px 0 20px 0;
    padding:10px;
}

#sidebar{
    float:right;
    width: 160px;
    height:600px;
    margin:20px 10px;
    border:2px solid #E3E3E3;

}

footer{
    clear:both;
    width:auto;
    height:40px;
    padding:10px;
    border:3px solid #E3E3E3;
    text-align:center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image:url(../Images/bar_background.png);
}

#navigation{
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
    background-image:url(../Images/bar_background.png);
   
}

#nav{
    list-style: none;
}

#nav ul{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li{
    font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;
}

#nav a:link,nav a:active, nav a:visited{
    display: block;
    color: #fff;
    text-decoration: none;
   
}

#nav a:hover{
    color: #16a085;
}


/* sub navigation */
#nav li ul {    
    background-image: url(../Images/bar_background.png);
    position:absolute;
    left:0;
    top:43px; /* make this equal to the line-height of the links (specified below) */
    width:180px;
}
#nav li li {
    position:relative;
    margin:0;
    display:block;
}
#nav li li ul {
    position:absolute;
    top:0;
    left:180px; /* make this equal to the width of the sub nav above */
    margin:0;
}



/* style sub level links */
#nav li li a {
    border-bottom:1px solid #E3E3E3;
    margin:10px 10px;
    padding:0;
}
#nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
#ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns */

#nav li li.dropdown > a {
    background-image:url('../Images/arrow-right.png');
    background-position:right 10px;
    background-repeat:no-repeat;
}
.imgLeft
{
    float: left;
    width: 400px;
    height: 220px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 400px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

.teaTable
{
    width: 750px;
    height: 250px;
    margin: 10px 10px 10px 0;
    border: 3px solid #E3E3E3;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.teaTable tr th, .teaTable tr td
{
    text-align: left;
    padding: 0px 5px 0 5px;
}

.teaTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

.inputField
{
    width: 280px;
    padding: 4px;
}

label
{
    float: left;
    width: 100px;
    font-weight: bold;
}

.overViewTable
{
    width: 700px;
}

.overViewTable tr
{
    padding: 4px;
}

.overViewTable td
{
    padding: 4px;
    border: 1px solid #E3E3E3;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
        cursor: pointer;
        outline: none;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.hdr {
	width: 15%;
	margin: 10px 117px 10px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
}

.input-group {
	margin: 0px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

#f1_container {
  position: relative;
  margin: 40px;
  width: 768px;
  height: 261px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 5px;
  color: white;
  text-align: center;

}